jobs:
  build:
    # working_directory: /tmp
    docker:
      - image: docker:18.09-git
    working_directory: /tmp/myscan
    steps:
      - checkout
      - setup_remote_docker # Set up remote docker in order to use docker socket for CircleCI
      - run:
          name: Build image
          command: docker build -t scannercli-ci-test:${CIRCLE_SHA1} .
      - run:
          name: Retrieve scannercli and scan build
          command: |
            mkdir scanresult
            docker login registry.aquasec.com -u $AQUA_USER -p $AQUA_PASSWORD
            docker run -it --rm -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/myscan/scanresult:/tmp registry.aquasec.com/scanner:6.5 scan -U $SCAN_USER -P $SCAN_PASSWORD -H http://34.87.65.61:8080/ --local scannercli-ci-test:${CIRCLE_SHA1} --no-verify --jsonfile out.json --htmlfile output.html --html > scanresult/out.html

      - store_artifacts:
          path: /tmp/myscan/scanresult
          # path: /tmp/myscan
          destination: scanresult 
workflows:
  version: 2
  release:
    jobs:
      - build:
          context: my-scanner # Context set up in Organization Settings that contains the Environment Variables 
