jobs:
  build:
    docker:
      - image: docker:18.09-git
    working_directory: /tmp/myscan # Have to define in order to retrieve artifacts
    steps:
      - checkout
      - setup_remote_docker # Set up remote docker in order to use docker socket for CircleCI
      - run:
          name: Build image
          command: docker build -t scannercli-ci-test:${CIRCLE_SHA1} .
      - run:
          name: Retrieve Aqua Scanner and scan build
          command: |
            mkdir scanresult
            docker login registry.aquasec.com -u $AQUA_USER -p $AQUA_PASSWORD
            docker run --name aqua -v /var/run/docker.sock:/var/run/docker.sock registry.aquasec.com/scanner:6.5 scan -U $SCAN_USER -P $SCAN_PASSWORD -H http://34.87.65.61:8080/ --local scannercli-ci-test:${CIRCLE_SHA1} --no-verify --html > scanresult/scan.html
      
      ### We are able to retrieve output in all 3 formats only if the --checkonly flag is set. This is to the limitations of CircleCI which does not support volume mounting between the current jobspace and the remote docker set-up
      # - run:
      #     name: Retrieve Aqua Scanner and scan build
      #     command: |
      #       mkdir scanresult
      #       docker login registry.aquasec.com -u $AQUA_USER -p $AQUA_PASSWORD
      #       docker run --name aqua -v /var/run/docker.sock:/var/run/docker.sock registry.aquasec.com/scanner:6.5 scan -U $SCAN_USER -P $SCAN_PASSWORD -H http://34.87.65.61:8080/ --local scannercli-ci-test:${CIRCLE_SHA1} --no-verify --jsonfile /tmp/foo.json --htmlfile /tmp/boo.html --textfile /tmp/doo.txt --text --checkonly
      # - run:
      #     name: Retrieve scan results output files
      #     command: |
      #       docker cp aqua:/tmp /tmp/myscan/scanresult

      - store_artifacts:
          path: /tmp/myscan/scanresult
          destination: scanresult 
workflows:
  version: 2
  release:
    jobs:
      - build:
          context: my-scanner # Context set up in Organization Settings that contains the Environment Variables 
